<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DelanekoShop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{% static 'Inicio/css/pag_principal.css' %}">
</head>

<body>

  <header class="fondosi">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Delaneko-Shop</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'iniciosesion' %}">Inicia Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'registro' %}">Registrate</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-success" href="/pag_perros/img_dogs/carrito_compra.html">Carrito 🛒 {{ request.session.data.count }} Item {{request.session.data.count|pluralize}}</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" name="b" type="buscar" placeholder="buscar" aria-label="Buscar">
            <button class="btn btn-light" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'Inicio/img/ron-fung-VQJXJ4IaU_o-unsplash.jpg' %}" alt="none">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Recueda que sobre los $2.000.000 Tenemos despacho gratis!</h1>
              <p></p>
              <!--
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>-->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Inicio/img/tips-para-tomar-buenas-fotos-de-conejos-que-encantaran-4-2.webp' %}" alt="none">

          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p></p>
              <!--
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>-->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'Inicio/img/agape-trn-H-XOmJhbM3s-unsplash.jpg' %}" alt="none">

          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Los mejores precios en un solo lugar.</h1>
              <p></p>
              <!--
              <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- PERROS -->
      <div class="row">
        <div class="col-lg-4">
          <img src="{% static 'Inicio/img/perrofeliz.png' %}" width="250" height="250">
          <h2>PERROS</h2>
          <p>Comida y accesorios para tu compañero favorito.</p>
          <p><a class="btn btn-secondary" href="{% url 'seccionperro' %}">Ver más... &raquo;</a></p>
        </div>
        <!--GATOS-->
        <div class="col-lg-4">
          <img src="{% static 'Inicio/img/—Pngtree—two little kittens_852610.png' %}" alt="none" width="250" height="250">
          <h2>GATOS</h2>
          <p>Comida y accesorios para tu peludo y minino favorito.</p>
          <p><a class="btn btn-secondary" href="{% url 'secciongato' %}">Ver más... &raquo;</a></p>
        </div>
        <!--EXOTICOS -->
        <div class="col-lg-4">
          <img src="{% static 'inicio/img/—Pngtree—cartoon little mouse mouse background_3900035.png' %}" alt="none" width="250"
            height="250">
          <h2>EXOTICOS</h2>
          <p>Comida y accesorios para tu mejor compañero.</p>
          <p><a class="btn btn-secondary" href="{% url 'seccionexotico' %}">Ver más... &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <div id="textcolor">
            <h2 class="featurette-heading">¿Quien somos? <span class="text-muted">Como empezó todo...</span></h2>
            <p class="lead">El término "DELANEKO" fue creado por Bastian Albornoz, profesor y Médico Veterinario de la
              Universidad de Chile y Yuri Brereton Durán, Medico Veterinario y Abogado de la Universidad Cátolica.
              El término NEKO designa a un gato que en virtud de su conducta y su comportamiento. <br> DELANEKO quiere
              decir que tenemos una gran sinfonia con nuestrosa animales.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{% static 'Inicio/img/ken-reid-fUknnVKe3wA-unsplash.jpg' %}" width="100%" height="100%">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <div id="textcolor">
            <h2 class="featurette-heading">Nuestra Misión <span class="text-muted">𓃥 .</span></h2>
            <p class="lead">Creemos que los amigales son integrantes importantes de las familias. Nuestra misión es
              entregar bienestar a esas familias en toda su diversidad.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{% static 'Inicio/img/remi-remino-E9kVmtiqqGE-unsplash.jpg' %}" alt="none" width="100%" height="100%">
        </div>
      </div>

      <hr class="featurette-divider">


      <div class="row">
        <div class="col-md-12">
          <div class="fundadores">
            <h1>FUNDADORES <span class="text-muted">𓃥 .</span></h1>
          </div>
        </div>
        <div class="col-md-6">
          <p id="imgcent"><img src="https://www.amigales.cl/pub/media/wysiwyg/infortis/ultimo/aboutus/Fernando.gif"
              alt="Yuri" width="300px" height="300px"></p>
          <div>
            <h3 id="imgcent">Yuri Durán</h3>
            <p class="lead" id="imgcent">Medico Veterinario y Abogado</p>
          </div>
        </div>

        <div class="col-md-6">
          <p id="imgcent"><img src="https://www.amigales.cl/pub/media/wysiwyg/infortis/ultimo/aboutus/Ivan.gif"
              alt="none" width="300px" height="300px"></p>
          <div>
            <h3 id="imgcent">Bastián Albornoz</h3>
            <p class="lead" id="imgcent">Profesor y Médico Veterinario de la
              Universidad de Chile</p>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Principio</a></p>
      <p>&copy; 2022 DELANEKO, Inc. &middot; <a href="#">Facebook</a> &middot; <a href="#">Twitter</a> &middot; <a
          href="#">Instagram</a> &middot; <a href="#">Youtube</a></p>
    </footer>
  </main>







  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>